/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  position: relative;
  z-index: 1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-weight: 600;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
  height: 462px;
}

.date-time {
  display: flex;
  background-color: white;
  margin-top: 10px;
  align-items: center;
  position: relative;
  z-index: 2;
}
.date-time .box-checkbox {
  display: inline-flex;
  gap: 10px;
  margin-left: 10px;
}
.date-time .date-time {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  margin-right: 30px;
}
.date-time .date-time input {
  height: 30px;
  font-size: 16px;
}
.date-time button {
  padding: 0 10px;
  height: 31px;
  border-radius: 8px;
}

.chart {
  margin: 15px 10px;
  height: 87%;
  position: relative;
  top: -55px;
}

.dashBroadChart {
  display: flex;
  gap: 20px;
  width: 1024px;
  height: 487px;
  overflow: hidden;
  top: -50px;
  height: 100%;
}
.dashBroadChart .pie-containtChart, .dashBroadChart .list-eventChart {
  flex-basis: calc(50% - 20px);
  max-width: calc(50% - 20px);
}
.dashBroadChart .pie-containtChart #pieChart, .dashBroadChart .pie-containtChart .pieMonth, .dashBroadChart .list-eventChart #pieChart, .dashBroadChart .list-eventChart .pieMonth {
  width: 100%;
  height: 100%;
}
.dashBroadChart .pie-containtChart {
  position: relative;
  padding-top: 30px;
}
.dashBroadChart .pie-containtChart .des-pieChart {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  z-index: 1;
  background-color: white;
}
.dashBroadChart .pie-containtChart .des-totalTrip {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.list-eventChart {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;
  overflow: hidden;
  padding-top: 42px;
}
.list-eventChart .title-itemChart {
  display: flex;
  justify-content: space-around;
}
.list-eventChart .title-itemChart .dashBroad-path-titleChart {
  position: relative;
  left: -6px;
}
.list-eventChart .title-itemChart .dashBroad-time-titleChart {
  position: relative;
  left: -30px;
}
.list-eventChart .title-itemChart .dashBroad-status-titleChart {
  position: relative;
  right: 35px;
}

.dashBroad-title {
  text-align: center;
  z-index: 1;
  position: relative;
}

.list-itemChart {
  height: 500px;
  overflow-y: auto;
  counter-reset: number;
}
.list-itemChart span {
  width: 90px;
}
.list-itemChart .item {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 13px;
  counter-increment: number;
  background-color: white;
  border-radius: 10px;
  border: 1px solid;
  padding: 0 30px;
}
.list-itemChart .item::before {
  position: absolute;
  content: counter(number);
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: wheat;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 0px 1px #c3bbbb;
}

.chartMonth {
  display: none;
  flex-basis: calc(50% - 20px);
  max-width: calc(50% - 20px);
}
.chartMonth #pieMonth {
  overflow-x: auto;
  overflow-y: hidden;
}

.timeShow {
  position: relative;
  top: 14px;
  right: -645px;
}

/*# sourceMappingURL=dashBroad.css.map */
